/*Jimmi Hendrix Project



hitta rätt font till nav
fixa hovereffekt till nav
fixa albumbilderna första sidan



*/

@font-face {
    font-family: barlow_condenced;
    src: url(./fonts/Barlow_Condensed/BarlowCondensed-Black.ttf);
}

@font-face {
    font-family: barlow_semi;
    src: url(./fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Black.ttf)
}

@font-face {
    font-family: bungee_outline;
    src: url(./fonts/Bungee_Outline/BungeeOutline-Regular.ttf);
}

@font-face {
    font-family: bungee_shade;
    src: url(./fonts/Bungee_Shade/BungeeShade-Regular.ttf);
}


/*common*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.album-container {
    background-color: yellow;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(1fr, 2);
    grid-template-rows: repeat(1fr, 2);
    gap: 10px;
}

img {
    width: 100%;
    height: auto;
    background-position: center;
    background-size: contain;
    overflow: hidden;
}


ol,
ul {
    list-style: inside;
    padding: 10px;
    font-size: 0.8vw;
}

p,
ul,
ol,
li {}





/* body start*/
body {
    background-color: black;
    background-image: url("images/jimi-hendrix-08.jpg");
    position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-width: 500px;
    height: 2000px;
    display: flex;
    justify-content: center;
    flex-direction: row;

}

/* Body end */

/*wrapper*/
#wrapper {
    background-color: rgba(0, 0, 0, 0.4);
    margin: auto;
    margin: 75px 150px;
    width: 100%;
    height: 90%;
    border-radius: 20px;
    gap: 20px;
}

/*header start*/
body #wrapper header {
    text-align: left;
    font-size: 3vw;
    color: lightgrey;
    width: 100%;
    height: 10vw;
    padding: 20px;
    font-family: "bungee_shade";
}

body #wrapper header h1 {
    width: 100%;
}

/*header end*/

/*nav start*/
body #wrapper nav {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    gap: 10px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;

}

body #wrapper nav a {
    text-decoration: none;
    color: black;
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 2vw;
    display: block;
    width: 100%;
    padding: 20px 0 20px 0;
    display: inline-block;
    border-radius: 10px;
    font-family: "barlow_conceded";
}

/*nav end*/

/*main start*/
body #wrapper main,
body #wrapper section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border: 1px solid white;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
}





/*left*/



.album-container div p {
    background-color: aqua;
}

.album-container div img {
    width: 100%;
    height: auto;
    background-size: cover;
}

.bottom {
    display: flex;
    flex-direction: row;
    height: 15vw;
    width: 100%;
    padding: 20px;
    gap: 10px;
    justify-content: center;


}

.bottom div {
    background-color: palevioletred;
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    z-index: 1;
    position: relative;
    text-align: center;
    padding: 20px 5px;
    color: orange;


}

.bottom div p {}

.bottom div:nth-of-type(1) {
    flex-grow: 1;
    border-radius: 10% 0 10% 10%;
}

.bottom div:nth-of-type(2) {
    flex-grow: 1;
    opacity: 0;
}

.bottom div:nth-of-type(3) {
    flex-grow: 2;
    border-radius: 10% 10% 10% 0;
}

.bottom div:nth-of-type(4) {
    flex-grow: 1;
    background-image: url(./images/cc.jpeg);
    background-size: cover;
    background-position: center;
    align-items: flex-end;
    border-radius: 0 10% 10% 10%;
}

.bottom div:nth-of-type(5) {
    flex-grow: 1;
    border-radius: 10% 10% 0 10%;
}

.left {
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.right {
    width: 40%;
}

.top {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;

}

.right .album-container div:nth-of-type(2) {
    background-color: blue;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
    flex-grow: 1;
    justify-content: space-evenly;
}

.right .album-container div:nth-of-type(2) div:nth-of-type(1),
.right .album-container div:nth-of-type(2) div:nth-of-type(2) {
    background-color: azure;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

/*main end*/
/*section start*/
/*section end*/