/*Jimmi Hendrix Project



hitta rätt font till nav
fixa hovereffekt till nav
fixa albumbilderna första sidan



*/

@font-face {
    font-family: barlow_condenced;
    src: url(./fonts/Barlow_Condensed/BarlowCondensed-Black.ttf);
}

@font-face {
    font-family: barlow_semi;
    src: url(./fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Black.ttf)
}

@font-face {
    font-family: bungee_outline;
    src: url(./fonts/Bungee_Outline/BungeeOutline-Regular.ttf);
}

@font-face {
    font-family: bungee_shade;
    src: url(./fonts/Bungee_Shade/BungeeShade-Regular.ttf);
}


/*common*/
* {
    margin: 0;
    padding: 0;

}

p,
ul,
ol,
li {}





/* body start*/
body {
    background-color: black;
    background-image: url("images/jimi-hendrix-08.jpg");
    position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-width: 500px;
    height: 2000px;
    display: flex;
    justify-content: center;
    flex-direction: row;

}

/* Body end */

/*wrapper*/
#wrapper {
    background-color: rgba(0, 0, 0, 0.4);
    margin: auto;
    margin: 75px 150px;
    width: 100%;
    height: 90%;
    border-radius: 20px;
    /*display: grid;*/
    gap: 20px;
}

/*header start*/
body #wrapper header {
    text-align: left;
    font-size: 3vw;
    color: lightgrey;
    width: 100%;
    height: 10vw;
    padding: 20px;
    font-family: "bungee_shade";
}

body #wrapper header h1 {
    width: 100%;
}

/*header end*/

/*nav start*/
body #wrapper nav {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    gap: 10px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;

}

body #wrapper nav a {
    text-decoration: none;
    color: black;
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 2vw;
    display: block;
    width: 100%;
    padding: 20px 0 20px 0;
    display: inline-block;
    border-radius: 10px;
    font-family: "barlow_conceded";
}

/*nav end*/

/*main start*/
body #wrapper main {
    display: grid;
    box-sizing: border-box;
    border: 1px solid white;
    margin: 10px;
    padding: 20px;
    display: grid;
    border-radius: 20px;

}

body #wrapper main h2 {
    font-family: "bungee_outline";
    font-size: 2vw;
    color: white;
}

body #wrapper main h3 {
    font-family: "barlow_semi";
    font-size: 2vw;
    color: white;
}

body #wrapper main>div {
    box-sizing: border-box;
    color: white;
    /*font-family: "barlow_semi";*/
    border: 1px solid black;
    width: 50%;
    padding: 20px;
}

body #wrapper main>div p {
    text-align: left;
}

body #wrapper main>div ul {
    list-style: none;
    padding: 5px 25px;
}

body #wrapper main>div ul li {
    padding-bottom: 5px;
    font-size: 1vw;
}

body #wrapper main>p {
    color: white;
    width: 50%;
    border: 1px solid black;
    padding: 20px;

}

.album-container {
    background-color: aqua;

}

.album-container img {
    background-image: url(./images/AreyouexpUK.jpg);
    height: 100px;
    width: 100%;
    background-position: center;
}

/*grid*/




/*main end*/
/*section start*/
/*section end*/