/*Jimmi Hendrix Project



hitta rätt font till nav
fixa responsiv
fixa fontstorlek
animation på album





*/

@font-face {
    font-family: barlow_condenced;
    src: url(./fonts/Barlow_Condensed/BarlowCondensed-Black.ttf);
}

@font-face {
    font-family: barlow_semi;
    src: url(./fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Black.ttf)
}

@font-face {
    font-family: bungee_outline;
    src: url(./fonts/Bungee_Outline/BungeeOutline-Regular.ttf);
}

@font-face {
    font-family: bungee_shade;
    src: url(./fonts/Bungee_Shade/BungeeShade-Regular.ttf);
}


/*common*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.album-container {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(1fr, 2);
    grid-template-rows: repeat(1fr, 2);
    gap: 10px;
    color: rgba(163, 15, 113, 255);
}

img {
    width: 100%;
    height: auto;
    background-position: center;
    background-size: contain;
    overflow: hidden;
}


ol,
ul {
    list-style: inside;
    padding: 10px;
    font-size: 1vw;

}

ul {
    list-style: none;
}

p {
    font-size: 1.1vw;
}


h2 {
    font-family: "bungee_outline";
    font-size: 2vw;
}

h3 {
    font-family: "barlow_semi";
    font-size: 1.5vw;
}


/* body start*/
body {
    background-color: black;
    background-image: url("images/jimi-hendrix-08.jpg");
    position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-width: 500px;
    height: 2000px;
    display: flex;
    justify-content: center;
    flex-direction: row;

}

/* Body end */

/*wrapper start*/
#wrapper {
    background-color: rgba(0, 0, 0, 0.4);
    margin: auto;
    margin: 75px 150px;
    width: 100%;
    height: 2500px;
    border-radius: 20px;
    gap: 20px;
}

/* wrapper end*/

/*header start*/
body #wrapper header {
    text-align: left;
    font-size: 3vw;
    color: lightgrey;
    width: 100%;
    height: 10vw;
    padding: 20px;
    font-family: "bungee_shade";
}

body #wrapper header h1 {
    width: 100%;
}

/*header end*/

/*nav start*/
body #wrapper nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    gap: 10px;
    text-align: center;
    width: 100%;
}

body #wrapper nav a:nth-of-type(2) {
    border: 1px solid white;
    font-weight: bold;
    box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.9);
}

body #wrapper nav a {
    text-decoration: none;
    color: black;
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 2vw;
    width: 100%;
    padding: 20px 0 20px 0;
    border-radius: 10px;
    font-family: "barlow_conceded";
}

/*nav end*/

/*main and section common*/

body #wrapper main,
body #wrapper section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border: 1px solid white;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    color: rgb(240, 240, 240);
}

/*top start*/
.top {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

/*top end*/
/*left start*/
.left {
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

body #wrapper main .top .left,
body #wrapper section .top .left {
    gap: 50px;
}

/*left end*/
/*right start*/
.right {
    width: 40%;
}

.right .album-container div:nth-of-type(2) {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-grow: 1;
    justify-content: space-evenly;
    background-image: none;
}

.right .album-container div:nth-of-type(2) div:nth-of-type(1),
.right .album-container div:nth-of-type(2) div:nth-of-type(2) {
    background-color: rgba(238, 203, 0, 255);
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    background-image: none;
}

.right .album-container div:nth-of-type(2) div:nth-of-type(1) {
    border-radius: 0 0 0 20px;
}

.right .album-container div:nth-of-type(2) div:nth-of-type(2) {
    border-radius: 0 0 20px 0;
}


.album-container div img {
    width: 100%;
    height: 100%;
    max-height: 550px;
    background-size: cover;
    border-radius: 20px 20px 0 0;
}

/*right end*/
.bottom {
    display: flex;
    flex-direction: row;
    height: 15vw;
    width: 100%;
    padding: 20px;
    gap: 10px;
    justify-content: center;
}

.bottom div {
    background-color: palevioletred;
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    z-index: 1;
    position: relative;
    text-align: center;
    padding: 20px 5px;
    color: orange;


}

/*left main end*/


/*main start*/


/*top main start*/

/*top end*/

/*left main start*/


/*left end*/

/*right main start*/
main .album-container>div {
    background-image: url(./images/AreyouexpUK.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px 20px 0 0;
}


/*right end*/

/*bottom main start*/

main .bottom div:nth-of-type(1) {
    flex-grow: 1;
    border-radius: 10% 0 10% 10%;
}

main .bottom div:nth-of-type(2) {
    flex-grow: 1;
    opacity: 0;
}

main .bottom div:nth-of-type(3) {
    flex-grow: 2;
    border-radius: 10% 10% 10% 0;
}

main .bottom div:nth-of-type(4) {
    flex-grow: 1;
    background-image: url(./images/cc.jpeg);
    background-size: cover;
    background-position: center;
    align-items: flex-end;
    border-radius: 0 10% 10% 10%;
}

main .bottom div:nth-of-type(5) {
    flex-grow: 1;
    border-radius: 10% 10% 0 10%;
}

/*bottom end*/
/*main end*/



/*section start*/


/*right start*/
section .top .right .album-container div:nth-of-type(2) {
    background-position: top;
    max-height: 550px;
    width: 100%;
    height: auto;
    overflow: hidden;
}

section .top .right .album-container div:nth-of-type(2) div:nth-of-type(1),
section .top .right .album-container div:nth-of-type(2) div:nth-of-type(2) {
    background-color: steelblue;
}

section .album-container>div {
    background-image: url(./images/bold-as-love-2.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    border-radius: 20px 20px 0 0;
    width: 100%;
}

section .album-container div img {
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

/*right end*/

/*bottom section start*/

section .bottom div {
    background-color: bisque;
    color: lightskyblue;

}

section .bottom div:nth-of-type(1) {
    flex-grow: 2;
    border-radius: 10% 10% 10% 0;
}

section .bottom div:nth-of-type(2) {
    flex-grow: 1;
    border-radius: 0 10% 10% 10%;
}

section .bottom div:nth-of-type(3) {
    flex-grow: 2;
    background-image: url(./images/ek.jpeg);
    background-position: center;
    background-size: cover;
    align-items: flex-end;
    color: lightgrey;
    border-radius: 0 10% 10% 10%;
}

section .bottom div:nth-of-type(4) {
    flex-grow: 1;
    border-radius: 10% 10% 0 10%;
}


/*bottom end*/


/*section end*/

/*footer*/
footer {
    text-align: left;
}


/*hover effects*/

/*navbar hover*/
body #wrapper nav a:nth-of-type(1):hover,
body #wrapper nav a:nth-of-type(3):hover,
body #wrapper nav a:nth-of-type(4):hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

/*image change*/
.album-container div img:hover {
    opacity: 0;
}

@media screen and (max-width: 800px) {}



/*max 1200px

800

500

fontsize vid
800-900
max 1200
500 mobile sjunker med innehållet



*/